<mtapp:widget class="widget" label="<__trans phrase="Load Averages">" can_close="1">
1<__trans phrase="minutes">=<span<mt:if name="la_1" gt="1.00"> style="color:red; font-weight:bold;"</mt:if>><$mt:var name="la_1"$></span>,
5<__trans phrase="minutes">=<span<mt:if name="la_5" gt="1.00"> style="color:red; font-weight:bold;"</mt:if>><$mt:var name="la_5"$></span>,
15<__trans phrase="minutes">=<span<mt:if name="la_15" gt="1.00"> style="color:red; font-weight:bold;"</mt:if>><$mt:var name="la_15"$></span>
</mtapp:widget>
